#/etc/bigbluebutton/nginx/bbbmanager-ui.nginx
set $v 1;
if ($scheme != 'https') {
        set $v "${v}1";
}

#Allow to access default.pdf without SSL
if ($request_uri !~ 'default.pdf' ) {
        set $v "${v}1";
}

if ( $v = '111' ) {
        return 301 https://$server_name$request_uri;
}

location / {
        proxy_pass http://127.0.0.1:81;

        proxy_set_header   Host             $host;
        proxy_set_header   X-Forwarded-For  $remote_addr;

        client_max_body_size       10m;
        client_body_buffer_size    512k;

        proxy_connect_timeout      240;
        proxy_send_timeout         240;
        proxy_read_timeout         240;

        proxy_buffer_size          4k;
        proxy_buffers              4 32k;
        proxy_busy_buffers_size    64k;
        proxy_temp_file_write_size 64k;
}
